{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Waiting list {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>who Register in the waiting list.</h1>
</div>
<div>
  <table border=1>
    <tr>
      <th>studentid</th>
      <th>sub</th>
      <th>crse</th>
      <th>section</th>
      <th>title</th>
      <th>days</th>
      <th>time</th>
      <th>student Firstname</th>
      <th>Student Lastname</th>
    </tr>
    {% for sched in wlist: %}
    <tr>
      <td>{{sched[0]}}</td>
      <td>{{sched[1]}}</td>
      <td>{{sched[2]}}</td>
      <td>{{sched[3]}}</td>
      <td>{{sched[4]}}</td>
      <td>{{sched[5]}}</td>
      <td>{{sched[6]}}</td>
      <td>{{sched[7]}}</td>
      <td>{{sched[8]}}</td>
    </tr>
      {%endfor%}

  </table>
</div>

{% endblock %}
